# ============================================
# Backend Symfony
# ============================================
###> symfony/framework-bundle ###
backend/.env.local
backend/.env.*.local
backend/config/secrets/prod/prod.decrypt.private.php
backend/public/bundles/
backend/var/
backend/vendor/
###< symfony/framework-bundle ###

# Logs
logs
*.log

# Cache & temp
/.idea/
/.vscode/*
*.tmp
*.cache

# ============================================
# Frontend (Vue + Node)
# ============================================
# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/
.vite/

# npm / yarn / pnpm logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.local

# Test / coverage
coverage/
__screenshots__/
cypress/videos/
cypress/screenshots/

# ============================================
# Editors & OS
# ============================================
# macOS
.DS_Store

# VSCode
!.vscode/extensions.json

# JetBrains
.idea/

# Windows
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
